@font-face {
    font-family: parryHotter;
    src: url(../ParryHotter.ttf);
}

html {
    background: url('../ASSETS/cup2.jpg') no-repeat center center fixed;
    background-size: cover;
    /* overflow: hidden; */
}

h1 {
    color: white;
    font-size: 48px;
    top: 10px;
    font-family: parryHotter;
    text-align: center;
    margin: auto;
}

#back-button {
    position:relative;
    margin: 30px;
    height: 50px;
    font-size: 20px;
    font-family: serif;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.6);
}

#cast-name {
    position: relative;
    top: 580px;
    left: 570px;
    margin: 30px;
    height: 50px;
    font-size: 20px;
    font-family: serif;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.6);

}

.hidden {
    display: none;
    visibility: hidden;
}

#fire {
    top: 60px;
    left: 590px;
    background: url('../ASSETS/fire-cup.gif') no-repeat center center fixed;
    max-width: 200px;
    height: 250px;
    margin: auto;
    display: block;
    margin-left: auto;
    margin-right: auto;
}