@font-face {
    font-family: parryHotter;
    src: url(ParryHotter.ttf);
}

body {
background: url("../ASSETS/background-login.jpg") no-repeat center center fixed;
background-size: cover;
}


div {
    text-align: center;

}
h1 {
    font-family: parryHotter;
    font-size: 60px;
}
label{
    font-size: 20px;
}
#input-section {
    padding-top: 10px;
}

