@font-face {
    font-family: parryHotter;
    src: url(ParryHotter.ttf);
}

body {
    background: url('../ASSETS/home-page.jpg') no-repeat center center fixed;
    background-size: cover;
    font-size: 18px;
    font-family: Bookman;
}

span {
    font-style: italic;
}

div {
    text-align: center;
}

h1 {
    font-family: parryHotter;
    font-size: 70px;
}

#input-section {
    margin: auto ;
    font-size: 18px;
    color: black;
    background: rgba(255, 255, 255, 0.7);
    min-height: 100px;
    width: 500px;
    padding: 10px;
}

#direction-div{
    color: black;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    width: 460px;;
    margin: 0 auto;
    padding: 30px;
}

button {
    height: 50px;
    font-size: 20px;
    font-family: serif;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.6);
}

input {
    background-color:rgba(0, 0, 0, 0);
    color:black;
    border: none;
    outline:none;
    height:30px;
    width: 300px;
    height: 50px;
    font-size: 40px;
    font-family: Bookman;
    text-emphasis: bold;
}


