html {
    background: url('../ASSETS/quidditch.jpg') no-repeat center center fixed;
    background-size: cover;
    font-family: Bookman;
}

h2 {
    
    font-weight: bold;
    font-size: 22px;
}

#root {
    color: black;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    top: 20vh;
    width: 450px;
    margin: 0 auto;
    padding: 30px;
}

p {
    
    font-weight: bold;
    font-size: 18px;
}

label {
    
    font-size: 20px;
    text-indent: -2em;
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
}

#house-quiz {
    display: flex;
    justify-content: space-around;
    
}