@font-face {
    font-family: parryHotter;
    src: url(../ParryHotter.ttf);
}

p {
    font-family: Bookman;
    font-size: 22px; 
    padding: 5px;
    text-align: center;
}

body {
    background: url("../ASSETS/book-background.jpg") no-repeat center center fixed;
    background-size: cover;
}

img {
    width: 100%;
    max-width: 200px;
    border-radius: 50px;
    padding: 10px;
    margin: auto;
}

#us {
    display: grid;
    grid-template-columns: repeat(2, 3fr);
    grid-template-rows: repeat(3, 33vh);
    max-width: 100%;
    max-height: auto;
}

.person {
    align-items: center;
    width: 100%;
    height: 100%;
    color: white;
    max-width: 750px;
    max-height: 175px;
    display: flex;
    justify-content: space-between;
    padding: 15px;
}
#cheri {
    grid-column-start: 2;
    grid-row-start: 3;

}

#paige {
    grid-column-start: 2;
    grid-row-start: 2;
    display: flex;
}

#lance {
    grid-column-start: 2;
    grid-row-start: 1;
    display: flex;
}

header {
    grid-column-start: 1;
    grid-row-start: 1;
    font-family: parryHotter;
    text-align: center;
    font-size: 45px;
}
button {
    margin: 30px;
    height: 50px;
    font-size: 20px;
    font-family: serif;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.6);

}
#return-home {
    text-align: center;
    margin: 30px;
    display: flex;
    justify-content: space-around;
}

#buttonDiv {
    grid-column-start: 1;
    grid-row-start: 3;
    display: flex;
    justify-content: space-evenly;
}