html {
    background: url('../ASSETS/end-story-bkgrnd.jpg') no-repeat center center fixed;
    background-size: cover;
}
body {
    cursor: url('../ASSETS/footprints-icon-8.cur'), auto;
}

#root {
    color: black;
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    top: 5vh;
    width: 450px;
    margin: 0 auto;
    padding: 20px;
}

div {
    margin: 5px;
    margin-bottom: 15px;
    font-family: Bookman;
    font-size: 16px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 20px;
}

#career-quiz {
    display: flex;
    justify-content: space-around;
}

#return-home {
    text-align: center;
    margin: 30px;
    display: flex;
    justify-content: space-around;
}

button {
    cursor:pointer;
    margin: 20px;
    height: 50px;
    font-size: 20px;
    font-family: serif;
    text-transform: uppercase;
    font-weight: bold;
    background: rgba(255, 255, 255, 0.6);

}

p {
    text-align: right;
    padding: 0px 10px;
}

img {
    width: 100px;
    
}