html {
    background: url('../ASSETS/end-story-bkgrnd.jpg') no-repeat center center fixed;
    background-size: cover;
}

#root {
    font-size: 18px;
    color: black;
    background: rgba(255, 255, 255, 0.6);
    position: absolute;
    height: 450px;
    width: 600px;
    margin: -100px 0 0 -200px;
    top: 30%;
    left: 50%;
    padding: 10px;
}

div{
    margin: 5px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin: 20px;
}

#career-quiz {
    display: flex;
    justify-content: space-around;
}