body {
    font-family: Georgia, 'Times New Roman', Times, serif;
    background-image: url('../ASSETS/the-great-hall.jpg');
    background-repeat: no-repeat;
}

#great-hall {
    width: 95vw;
    justify-content: center;
}

#question {
    border: 1px solid antiquewhite;
    width: 95vw;
    text-align: center;
    background: antiquewhite;
    justify-content: center;
}

#choices {
    background: antiquewhite;
    border: 1px solid antiquewhite;
    width: 95vw;
    justify-content: center;
}

