html {
    background: url('../ASSETS/ministry.jpg') no-repeat center center fixed;
    background-size: cover;
}

h2 {
   font-weight: bold;
}

#root {
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    top: 20vh;
    width: 450px;
    margin: 0 auto;
    padding: 30px;
}

label {
    font-size: 20px;
    text-indent: -2em;
    margin: 20px;
}

form {
    display: flex;
    flex-direction: column;
    display: flex;
    justify-content: space-around; 
}