html {
    background: url("../ASSETS/no-good.jpg") no-repeat center center fixed;
    background-size: cover;
}

#quiz-icon {
    max-width: 100%;
    max-height: auto;
}

#map-house {
    width: 50%;
    max-width: 200px;
    height: 200px;
}

#map-wand {
    height: 200px;
    width: 200px;
}

#map-patronus {
    border-radius: 100px;
    border: 3px solid black;
    height: 200px;
    width: 200px;
}

#map-career {
    height: 200px;
    width: 200px;
}


#map-door {
    left: 50%;
    bottom: 100%;
}

.hidden {
    visibility: hidden;

}

