body {
    background-image: url("../ASSETS/no-good.jpg");
    background-repeat: no-repeat;
    background-size: 100%;
}

img {
    border-radius: 100px;
    border: 3px solid black;
    height: 200px;
    width: 200px;
}



#map-door {
    position: relative;
    left: 50%;
    bottom: 75%;
}

