html {
    background: url('../ASSETS/ollivanders.jpg') no-repeat center center fixed;
    background-size: cover;
}

#root {
    background: rgba(255, 255, 255, 0.8);
    position: relative;
    top: 30vh;
    width: 450px;
    margin: 0 auto;
    padding: 30px;
}

label {
    font-size: 20px;
    text-indent: -2em;
    margin: 15px;
}

form {
    display: flex;
    flex-direction: column;
}

#wand {
    display: flex;
    justify-content: space-around;
}